@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');



.Hfont {
    font-family: 'Nachlieli CLM', serif;
}

.row {
    margin: 0 !important;
}

.p {
    font-size: 18px;
}
/********* Homepage **********/
.homepage {
    position: relative;
    background: url("../images/background.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}


    .homepage .center-Menu {
        position: relative;
        margin-left: 50%;
        width: 50%;
        margin-top: 5%;
        transform: translateX(-50%);
    }

        .homepage .center-Menu button {
            background: 0 0;
            border: 2px solid white;
            border-radius: 30px;
            font-size: 2vw;
            width: 100%;
            height: 20%;
            color: white;
            font-weight: bold;
            margin-top: 10%;
        }


        .homepage .center-Menu img {
            width: 100%;
        }


.logo_navbar img {
    width: 10%;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}


/*********   ************/

.website_build {
    position: relative;
    background: url("../images/background2.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(150vh - 80px);
    width: 100%;
}

    .website_build .info_send {
        background: url(../images/background3.png) no-repeat;
        background-size: cover;
        border-radius: 40px;
        width: 60%;
        margin: 0 auto;
    }

.info_send_title {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

.info_send_details {
    text-align: center;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.info_input {
    text-align: right;
    border: 1px solid white;
    margin-top: 10%;
    padding-top: 10px;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 18px;
    padding-right: 10px;
}

.send_btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 14px;
}

    .send_btn i {
        margin-right: 0.5vw;
        height: 1vw;
    }

/********* Description ********/
.website_build .desctiption {
    width: 100%;
    height: 60%;
    right: 0;
    top: 0;
    font-weight: bold;
}

.desctiption_title {
    margin-top: 3%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 5vw;
    color: rgb(36, 193, 171);
    float: right;
}

.desctiption_details {
    margin-right: 5%;
    text-align: right;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
}

.icon-description {
    text-align: right;
    margin-right: 5%;
    margin-top: 6%;
}

    .icon-description img {
        width: 80%;
    }

    .icon-description label {
        font-size: 2vw;
        color: rgb(36, 193, 171);
        font-weight: bold;
        margin-top: 6%;
    }



.center-tablet {
    margin-left: 25%;
}

    .center-tablet img {
        width: 40vw;
    }

/******** technology *******/

.technology {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
}

.technology-icon {
    width: 100%;
}



.main-icon {
    float: right;
    width: 80%;
    margin-top: 2%;
}

.technology-icon .icons img {
    position: absolute;
    width: 10%;
}

.icons .html-icon {
    margin-left: 40%;
}

.icons .php-icon {
    margin-top: 10%;
    margin-left: 10%;
}

.icons .css-icon {
    margin-top: 35%;
    margin-left: 20%;
}

.icons .press-icon {
    margin-top: 50%;
    margin-left: 50%;
}


.technology-description {
    margin-top: 4%;
    text-align: right;
    font-weight: bold;
}

    .technology-description .title {
        font-size: 5vw;
        color: rgb(36, 193, 171);
    }

    .technology-description .details {
        font-size: 1.6vw;
        margin-left: 5%;
    }



/*********** ToKnow ***********/

.to-know {
    position: relative;
    background: url(../images/background4.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(108vh - 80px);
    width: 100%;
    border-bottom: 2px solid gray;
}

    .to-know .title {
        font-size: 6vw;
        color: rgb(36, 193, 171);
        margin-left: 47%;
        transform: translateX(-40%);
    }

    .to-know img {
        width: 100%;
        margin-left: 2%;
        margin-top: 11%;
    }

.text-box {
    width: 90%;
    background-color: black;
    font-size: 2.5vw;
    margin-top: 13%;
    text-align: center;
    color: white;
    padding: 3%;
    border-radius: 3vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.to-know-send-information {
    background: url(../images/background6.png) no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0 2%0;
    border-radius: 8px;
}

    .to-know-send-information label {
        font-size: 1.3vw;
        color: white;
        text-align: right;
    }

    .to-know-send-information input {
        text-align: right;
        font-size: 1.3vw;
        font-weight: bold;
        width: 100%;
        border-radius: 12px;
        border: none;
    }

    .to-know-send-information .send {
        background-color: black;
        color: white;
        text-align: center;
        border: none;
        font-size: 1.3vw;
        font-weight: bold;
        border-radius: 8px;
        width: 100%;
    }

        .to-know-send-information .send i {
            font-size: 1.2vw;
            margin-right: 3px;
        }

/********** Our Customers  ***************/
.customers {
    position: relative;
    background-position: bottom;
    height: calc(80 - 80px);
    width: 100%;
}

    .customers .title {
        font-size: 5vw;
        color: rgb(36, 193, 171);
        text-align: center;
        margin-top: 4%;
    }



    .customers img {
        margin-left: 54%;
        transform: translateX(-50%);
    }

.trawed {
    width: 89%;
    margin-top: 15%;
}

.elmnara {
    width: 35%;
    margin-top: 5%;
}

.hawaii {
    width: 43%;
    margin-top: 6%;
}

.icona {
    width: 46%;
    margin-top: 20%;
}

.eljana {
    width: 20%;
    margin-top: -27%;
}

.tabred {
    width: 30%;
    margin-top: -25%;
}



/************ Presonal Design  *************/
.personal-design {
    position: relative;
    background: url(../images/background5.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(200vh - 80px);
    width: 100%;
}

    .personal-design img {
        width: 30%;
        margin-left: 50%;
        margin-top: 14%;
        transform: translateX(-50%);
    }

    .personal-design .wrapper-center {
        margin-top: 25%;
    }

    .personal-design .wrapper-right {
        margin-top: 22%;
    }

    .personal-design .title {
        font-size: 2vw;
        color: black;
        margin-top: 4%;
        text-align: center;
    }

    .personal-design .details {
        font-size: 4vw;
        margin-left: 50%;
        color: rgb(36, 193, 171);
        transform: translateX(-50%);
    }

    .personal-design .wrap {
        margin-top: 29%;
    }


.personal-design-details {
    font-weight: bold;
    font-size: 1.8vw;
    text-align: center;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.personal-design-title {
    font-size: 5vw;
    color: black;
    font-weight: bold;
    margin-top: 6%;
    text-align: center;
}
/********** customers-files *************/


.customers-files {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
}

    .customers-files .webpages {
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }


    .customers-files .left-item {
        width: 100%;
        border-radius: 10px;
    }

    .customers-files .right-item {
        width: 94%;
        margin-bottom: 4%;
        border-radius: 10px;
    }

    .customers-files .title {
        font-size: 5vw;
        color: black;
        color: rgb(36, 193, 171);
        margin-bottom: 3%;
        text-align: center;
    }

    .customers-files .send {
        font-size: 2.5vw;
        width: 80%;
        float: right;
        margin-right: 3%;
    }

    .customers-files button {
        width: 100%;
        border-radius: 20px;
        background: url(../images/background3.png) no-repeat;
        border: none;
        background-size: cover;
        color: white;
        font-weight: bold;
        padding: 0.5%;
    }

    .customers-files i {
        font-size: 1.5vw;
        margin-right: 2%;
    }



/****************** customers-qoutes  ********************/
.customers-qoutes {
    background: url(../images/testBackground7.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: calc(100vh - 80px);
}

    .customers-qoutes .details {
        font-size: 2vw;
        font-weight: bold;
        color: black;
        margin-right: 5%;
    }

    .customers-qoutes .customer {
        color: rgb(36, 193, 171);
    }

    .customers-qoutes .hand-icon {
        width: 100%;
    }

    .customers-qoutes .title {
        font-size: 5vw;
        color: rgb(36, 193, 171);
        margin-top: 5%;
        text-align: center;
    }

.qout-background img {
    width: 80%;
    margin-left: 5%;
}

/************* blog-websites  ***********************/

.blog-websites {
    background: url(../images/background8.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: calc(120 vh - 80px);
    width: 100%;
}

    .blog-websites .title {
        font-size: 5vw;
        color: rgb(36, 193, 171);
        text-align: center;
        margin-top: 5%;
    }

    .blog-websites .card {
        margin-top: 5%;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

.card .card-body {
    border: 0.1px solid gray;
    border-top: 0;
}

.card-body .header {
    font-weight: bold;
    font-size: 1.8vw;
    color: black;
    margin-right: 2%;
}

.card .card-body .card-footer {
    text-align: right;
    margin-right: 2%;
    margin-top: 11%;
    margin-bottom: 1.5%;
}

.card-footer button {
    background: url(../images/background3.png) no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    width: 46%;
}


.card-body .details {
    margin: 2%;
    font-size: 1.4vw;
    font-weight: bold;
    color: black;
}

.card img {
    width: 100%;
}

.blog-websites .card .header {
    width: 100%;
}



/***********************************************************************/
@media (max-width:600px) {
    .row {
        margin: 0 !important;
    }

    .p {
        font-size: 10px;
    }

    .center-items {
        text-align: center;
    }

    .disFlexColumn {
        display: flex;
        flex-direction: column-reverse;
    }

    .homepage {
        height: 100vh !important;
        width: 100%;
    }

        .homepage .center-Menu {
            margin-top: 50%;
            width: 75%;
        }

            .homepage .center-Menu button {
                width: 50%;
                margin-left: 50%;
                transform: translateX(-50%);
                margin-top: 7%;
                font-size: 10px;
            }



    .website_build .info_send {
        border-radius: 20px;
        width: 90%;
    }

    .info_input {
        padding-top: 1px;
        font-size: 10px;
    }

    .center-tablet img {
        float: right;
    }

    .icon-description {
        text-align: center;
        margin: 0;
    }

    .desctiption_details {
        font-size: 15px;
    }

    .icon-description img {
        width: 40%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .icon-description label {
        font-size: 13px;
    }


    .desctiption_title {
        font-size: 11vw;
    }

    .website_build {
        height: 600px !important;
        width: 100vw !important;
    }


    .technology {
        height: 620px !important;
        width: 100vw !important;
    }

    .technology-description {
        text-align: center;
    }

        .technology-description .title {
            font-size: 30px;
        }

        .technology-description .details {
            font-size: 15px;
            margin-left: 0;
        }

    .to-know {
        height: 631px !important;
        width: 100% !important;
    }

    .to-know-send-information label {
        font-size: 10px;
    }

    .to-know-send-information input {
        font-size: 12px;
        width: 133%;
        border-radius: 6px;
    }


    .to-know-send-information .send {
        font-size: 12px;
        width: auto;
    }


    .text-box {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .customers {
        height: 310px !important;
        width: 100%;
    }

        .customers .title {
            font-size: 40px;
        }

    .personal-design-details {
        font-size: 15px;
        width: 90%;
    }

    .personal-design {
        height: 650px !important;
        width: 100%;
    }

        .personal-design img {
            width: 60%;
        }

        .personal-design .title {
            font-size: 12px;
        }

        .personal-design .wrapper-right {
            margin-top: 30%;
        }

        .personal-design .wrapper-center {
            margin-top: 36%;
        }

        .personal-design .wrap {
            margin-top: 44%
        }

    .eljana, .tabred {
        margin-top: 20%;
    }

    .customers-files {
        height: 580px !important;
        width: 100%;
    }

        .customers-files .title {
            font-size: 30px;
        }

        .customers-files .send {
            font-size: 15px;
            width: 55%;
        }

        .customers-files i {
            font-size: 10px;
        }



 

        .customers-qoutes .title {
            font-size: 30px;
            margin-top: 15%;
        }

        .customers-qoutes .details{
            font-size:15px;
        }

    .blog-websites .title {
        font-size: 30px;
    }

    .send_btn{
        font-size:10px;
    }
}
