
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Codit - Software Solutions</title>
    <link rel="stylesheet" href="~/Content/Design/style.css" />
    <link href='http://serve.fontsproject.com/css?family=Nachlieli+CLM:200'
          rel='stylesheet' type='text/css'>
</head>
<body class="Hfont">

    <section class="homepage">
        <div class="contact_navbar">
            <div class="list_navbar">
                <a href="#"><img src="~/Content/images/facebook.png" /></a>
                <a href="#"><img src="~/Content/images/facebook.png" /></a>
                <a href="#"><img src="~/Content/images/facebook.png" /></a>
            </div>
            <div class="logo_navbar">
                <img src="~/Content/images/test_logo.png" />
            </div>
        </div>

        <div class="menu">
            <table>
                <tbody class="Hfont">
                    <tr>
                        <td class="firstElement">דף בית</td>
                    </tr>
                    <tr>
                        <td>תיק עבודות</td>
                    </tr>
                    <tr>
                        <td>מי אנחנו</td>
                    </tr>
                    <tr>
                        <td>צור קשר</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="center_menu">

            <img class="main_logo" src="~/Content/images/test_logo.png" />
            <button class="bid_btn">קבל הצעת מחיר</button>
            <button class="call_now_btn">התקשר עכשיו</button>
        </div>
    </section>

    <section class="description">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="item_desc_website">
                    <p class="item_title">בניית אתרי תדמית</p>
                    <p>
                        אתר האינטרנט שלכם הוא התדמית שלכם ברשת,
                        האתר מייצג את העסק או הארגון שלכם 24 שעות
                        ביממה, זה לא משנה אם מדובר באתר תדמיתי או
                        קטלוגי, בסופו של דבר בכל סוגי האתרים חשוב
                        לשמור על תדמית מותאמת אישית ברמה גבוהה,
                        באקטיבנט אנו שמים דגש על מיתוג העסק לפי
                        הסטנדרטים והטרנדים החדשניים ביותר
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">

            </div>
        </div>

    </section>

    <section class="description">
        <div class="item_desc_tech">
            <p class="item_title">הטכנולוגיה שלנו</p>
            <p>
                אקטיבנט מובילה את תחום בניית האתרים בעזרת הטכנולוגיות
                PHP המתקדמות ביותר, כאשר בצד השרת השפה השולטת היא
                .שנמצאת בכל אחד מהאתרים שפותחו על ידינו בשנים האחרונות
                אנו חרטנו על דגלנו שימוש בקוד איכותי ונקי ללא תוספים
                (פלאגינים) מיותרים אשר יכולים ליצור עומס מיותר או פרצות
                אבטחה. האתרים שנבנים בחברתנו מאובטחים ב %100 עם
                אחריות מלאה שכוללת גם גיבוי אוטומטי לקבצי האתר, אפשרות
                .שחזור בכל רגע נתון.ביותר
            </p>
            <p>
                אצלנו אתם יכולים להיות בטוחים בבחירה שלכם מכיוון שהאתרים
                נבנים בתקן מחמיר במטרה לתת אתר תקין לטווח הארוך בעל
                יכולות ניהול נרחבות לתפעול האתר, ירידה עד לפרטים הקטנים
                .ביותר
            </p>
        </div>

        <div class="item_img_tech">
            <img src="~/Content/images/tech_hand.png" />
        </div>
    </section>

</body>
</html>
